<fieldset class="module ">
    <h2> Difficulté </h2>
    <button class="btn btn-success btn-sm" id="bt_add_sorte" type="button" onclick="add_sorte('difficulte')" >+</button>
    {{ difficulte_formset.management_form }}
    <div id="formsetZone_difficulte">
        {% for f in difficulte_formset %}
            <div class="nsorte">
                {{ f }}
                <div class='btn btn-warning btn-sm bt_rm_sorte' style="display: inline" >
                    <button class="btn btn-success btn-sm" type="button" onclick="del_sorte(this, {{ forloop.counter0 }}, 'difficulte')">-</button>
                    <i class='glyphicon glyphicon-trash'></i>
                </div>
            </div>
        {% endfor %}
    </div>
</fieldset>